In [419]:
import pandas as pd

In [443]:
data = pd.read_csv('train.csv')

In [444]:
data.head()

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,57,management,married,tertiary,320,no,no,cellular,7,aug,76,2,-1,0,unknown,no
1,38,management,divorced,tertiary,10638,no,no,unknown,12,jun,159,2,-1,0,unknown,no
2,44,services,divorced,secondary,608,yes,yes,unknown,18,jun,19,30,-1,0,unknown,no
3,44,technician,divorced,unknown,1823,no,no,unknown,20,jun,43,2,-1,0,unknown,no
4,38,admin.,divorced,secondary,1314,no,no,cellular,29,aug,156,2,-1,0,unknown,no

Проведите анализ данных, оставив те столбцы, которые считаете ключевыми для обучения модели и преобразуйте все категориальные признаки в числовое значение

In [445]:
data['y'] = data.y.astype('category').cat.codes

In [446]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27126 entries, 0 to 27125
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        27126 non-null  int64
 1   job        27126 non-null  object
 2   marital    27126 non-null  object
 3   education  27126 non-null  object
 4   balance    27126 non-null  int64
 5   housing    27126 non-null  object
 6   loan       27126 non-null  object
 7   contact    27126 non-null  object
 8   day        27126 non-null  int64
 9   month      27126 non-null  object
 10  duration   27126 non-null  int64
 11  campaign   27126 non-null  int64
 12  pdays      27126 non-null  int64
 13  previous   27126 non-null  int64
 14  poutcome   27126 non-null  object
 15  y          27126 non-null  int8
dtypes: int64(7), int8(1), object(8)
memory usage: 3.1+ MB

In [447]:
data = data.drop('marital', axis=1)
data = data.drop('contact', axis=1)
data = data.drop('day', axis=1)
data = data.drop('month', axis=1)
data = data.drop('campaign', axis=1)
data = data.drop('pdays', axis=1)
data = data.drop('previous', axis=1)

In [448]:
cat_features = ['job', 'education', 'housing', 'loan', 'poutcome']

for i in cat_features:
    data[i] = data[i].astype('category').cat.codes

In [449]:
data.head() #проверьте свой результат, что остались только необходимые столбцы

,age,job,education,balance,housing,loan,duration,previous,poutcome,y
0,57,4,2,320,0,0,76,0,3,0
1,38,4,2,10638,0,0,159,0,3,0
2,44,7,1,608,1,1,19,0,3,0
3,44,9,3,1823,0,0,43,0,3,0
4,38,0,1,1314,0,0,156,0,3,0

In [450]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop('y', axis=1), data['y'], test_size=0.2)

In [451]:
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression(random_state=0).fit(X_train, y_train)

C:\Users\egor8\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Сделайте своё предсказание

In [452]:
y_pred_train = LogReg.predict(X_train)
y_predict_proba_train = LogReg.predict_proba(X_train)[:,1]

In [453]:
LogReg.score(X_train, y_train)

0.8892626728110599

Проверьте результаты обученной модели, используя метрику ROC-AUC

In [454]:
from sklearn.metrics import roc_auc_score
print('ROC-AUC: ', roc_auc_score(y_train, y_predict_proba_train))

ROC-AUC:  0.8078798031956327

In [455]:
df_t = pd.read_csv('test.csv')
df_t.head()

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,53,blue-collar,single,secondary,105,yes,no,unknown,26,may,239,3,-1,0,unknown
1,46,blue-collar,married,secondary,450,yes,no,cellular,17,apr,198,1,-1,0,unknown
2,30,blue-collar,single,primary,5641,no,no,cellular,21,nov,695,3,-1,0,unknown
3,36,entrepreneur,married,tertiary,4576,yes,no,cellular,7,may,272,1,-1,0,unknown
4,35,blue-collar,married,secondary,412,yes,no,unknown,3,jun,316,1,-1,0,unknown

In [456]:
df_t.shape

(18085, 15)

In [457]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18085 entries, 0 to 18084
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        18085 non-null  int64
 1   job        18085 non-null  object
 2   marital    18085 non-null  object
 3   education  18085 non-null  object
 4   balance    18085 non-null  int64
 5   housing    18085 non-null  object
 6   loan       18085 non-null  object
 7   contact    18085 non-null  object
 8   day        18085 non-null  int64
 9   month      18085 non-null  object
 10  duration   18085 non-null  int64
 11  campaign   18085 non-null  int64
 12  pdays      18085 non-null  int64
 13  previous   18085 non-null  int64
 14  poutcome   18085 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.1+ MB

In [458]:
df_t = df_t.drop('marital', axis=1)
df_t = df_t.drop('contact', axis=1)
df_t = df_t.drop('day', axis=1)
df_t = df_t.drop('month', axis=1)
df_t = df_t.drop('campaign', axis=1)
df_t = df_t.drop('pdays', axis=1)
df_t = df_t.drop('previous', axis=1)

In [459]:
cat_features = ['job', 'education', 'housing', 'loan', 'poutcome']

for i in cat_features:
    df_t[i] = df_t[i].astype('category').cat.codes

In [460]:
df_t.head()

   age  job  education  balance  housing  loan  duration  previous  poutcome
0   53    1          1      105        1     0       239         0         3
1   46    1          1      450        1     0       198         0         3
2   30    1          0     5641        0     0       695         0         3
3   36    2          2     4576        1     0       272         0         3
4   35    1          1      412        1     0       316         0         3

In [461]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18085 entries, 0 to 18084
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        18085 non-null  int64
 1   job        18085 non-null  int8
 2   education  18085 non-null  int8
 3   balance    18085 non-null  int64
 4   housing    18085 non-null  int8
 5   loan       18085 non-null  int8
 6   duration   18085 non-null  int64
 7   previous   18085 non-null  int64
 8   poutcome   18085 non-null  int8
dtypes: int64(4), int8(5)
memory usage: 653.6 KB

Проведите анализ данных, оставив те столбцы, которые считаете ключевыми для обучения модели и преобразуйте все категориальные признаки в числовое значение

In [462]:
y_pred = LogReg.predict(df_t)

Сделайте своё предсказание для проверочного датасета

In [463]:
LogReg.score(X_test, y_test)

0.8855510504976041

Сохраните результат в отдельный файл, который нужно загрузить на платформу, не забудьте добавить колонку с вашим предсказанием

In [464]:
my_answ = pd.DataFrame(data=range(df_t.shape[0]), columns=['Id'])
my_answ['y'] = pd.DataFrame(data=y_pred)
my_answ.head()

   Id  y
0   0  0
1   1  0
2   2  0
3   3  0
4   4  0

In [465]:
my_answ.to_csv('sample_submission.csv',index=False)