In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('train.csv')

In [5]:
data.head()

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,57,management,married,tertiary,320,no,no,cellular,7,aug,76,2,-1,0,unknown,no
1,38,management,divorced,tertiary,10638,no,no,unknown,12,jun,159,2,-1,0,unknown,no
2,44,services,divorced,secondary,608,yes,yes,unknown,18,jun,19,30,-1,0,unknown,no
3,44,technician,divorced,unknown,1823,no,no,unknown,20,jun,43,2,-1,0,unknown,no
4,38,admin.,divorced,secondary,1314,no,no,cellular,29,aug,156,2,-1,0,unknown,no

Проведите анализ данных, оставив те столбцы, которые считаете ключевыми для обучения модели и преобразуйте все категориальные признаки в числовое значение

In [6]:
data.head() #проверьте свой результат, что остались только необходимые столбцы

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,57,management,married,tertiary,320,no,no,cellular,7,aug,76,2,-1,0,unknown,no
1,38,management,divorced,tertiary,10638,no,no,unknown,12,jun,159,2,-1,0,unknown,no
2,44,services,divorced,secondary,608,yes,yes,unknown,18,jun,19,30,-1,0,unknown,no
3,44,technician,divorced,unknown,1823,no,no,unknown,20,jun,43,2,-1,0,unknown,no
4,38,admin.,divorced,secondary,1314,no,no,cellular,29,aug,156,2,-1,0,unknown,no

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = #проведите обучение

SyntaxError: invalid syntax (<ipython-input-7-ff6a56d1a4ea>, line 2)

In [ ]:
from sklearn.linear_model import LogisticRegression
LogReg = #создайте модель и обучите её

Сделайте своё предсказание

In [ ]:
y_pred = 
y_predict_proba =

Проверьте результаты обученной модели, используя метрику ROC-AUC

In [ ]:
from sklearn.metrics import roc_auc_score
print('ROC-AUC: ', #оценка предсказания)

In [ ]:
df_t = #загрузите необходимый датасет для тестирования модели

Проведите анализ данных, оставив те столбцы, которые считаете ключевыми для обучения модели и преобразуйте все категориальные признаки в числовое значение

Сделайте своё предсказание для проверочного датасета

Сохраните результат в отдельный файл, который нужно загрузить на платформу, не забудьте добавить колонку с вашим предсказанием

In [ ]:
my_answ = pd.DataFrame(data=range(df_t.shape[0]), columns=['Id'])
my_answ['y'] = pd.DataFrame(data=#ваше предсказание)
my_answ.head()

In [ ]:
my_answ.to_csv('answer.csv',index=False)